@import url('https://fonts.googleapis.com/css?family=Actor&display=swap');


/************  General margins, paddings, color, fonts etc.   *************/

body {
    margin: 0;
    padding: 0;
    font-family: 'Actor', sans-serif;
}

ul {
    padding: 0;
}

a,
li {
    text-decoration: none;
    list-style: none;
}

a:hover,
li:hover{
    text-decoration: none;
    list-style: none;
    color: #fff;
}

.uppercase {
    text-transform: uppercase;
}

/**** Headings ****/

h1 {
    font-size: 3em;
    margin: 0;
    padding: 0;
}


/************  Start Page Main Navigation   *************/

.start-nav {
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #042f36;
    color: #fff;
    text-align: center;
    
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    z-index: 5;
    transition: all .5s;
}

.header-h1 {
    text-align: center;
    display: block;
    margin-top: 1.5em;
}

.p-text {
    text-align: center;
    font-size: 1.8em;
}

.button {
    text-decoration: none;
    padding: 0;
    margin: 0;
    color: #fff;
}

#close-button {
    color: #fff;
    font-size: 1.5em;
    float: top;
    float: right;
    margin: .5em;
}

.board-button {
    display: inline-block;
    list-style: none;
    font-size: 1.5em;
    padding: .3em .5em;
    margin: .2em;
    border: 1px solid;
    transition: all .5s;
}

.board-button:hover,
.board-button-active {
    border:1px solid #000;
    color: #000;
    background-color: #f5f5f5;
    cursor: pointer;
}
.board-button:hover a, 
.board-button-active a {
    color: #000;
}
.menu-icon {
    position: relative;
    float: right;
    top: .8em;
    right: .8em;
}

/************  Nav-Bar Game Page   *************/

.main-nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 3em;
    width: 100%;
    z-index: 2;
    background-color: #f0ead6;
    border-bottom: 1px solid #f3e5ab;
}

.othello-logo {
    position: relative;
    top: .3em;
    left: .8em;
    font-size: 1.5em;
}

.menu-button-container {
    position: relative;
    margin: auto;
    float: right;
    height: 100%;
    width: 8.5em;
    background-color: #f7e7ce;
}

.menu-button-container a:hover {
    color: #000;
}

.menu-button {
    float: right;
    color: #000;
    cursor: pointer;
    position: relative;
    top: .4;
    right: 1em;
    font-size: 1.8em;
}

.ff-button {
    font-size: 1.2em;
    top: .5em;
}

.rules-button {
    font-size: 1.5em;
    top: .2em;
    right:1.4em;
}

/************  The Board   *************/

.board-section {
    position: relative;
    top: 0;
    background-color: rgba(4,47,54, .9);
    text-align: center;
    z-index: 1;
}

.board-container {
    height: 50vh;

}

#board {
    position: absolute;
    margin-top: 5em;
}

.squares {
    position: absolute;
    background-color: #058c49;
    display: inline-block;
    border: 1px solid #003119;
}

/************  Score Board   *************/

.container-score-board {
    position: relative;
    background-color: #e3dac9;
    width: 100%;
    height: 50vh;

}

.score-board-row {
    background-color: rgba(4, 47, 54, .9);
    padding-bottom: 2em;
}

.circle {
    height: 3em;
    width: 3em;
    border-radius: 50%;
    display: inline-block;
}

.black-circle {
    background-color: #110c11;
    margin: 1em;
}

.white-circle {
    background-color: #fdf5e6;
    margin: 1em;
}

#black-score-desktop,
#black-score-mobile {
    color: #212529;
}

#white-score-desktop,
#white-score-mobile {
    color: #fdf5e6;
}

/* section for mobile view scoreboard */

.score-board {
    position: relative;
    width: 100%;
    height: 10em;
    background-color: rgba(4,47,54, .2);
    border-radius: .2em .2em 3em 3em;
}

.white-scoreb-mw { 
    position: absolute;
    background-color: #fdf5e6;
    text-align: center;
    height: 100%;
    border-radius: 0 0 0 3em;
}

.black-scoreb-mw {
    position: absolute;
    right: 0;
    background-color: #212529;
    text-align: center;
    height: 100%;
    border-radius: 0 0 3em 0;
}

#current-player-mobile {
    margin-top: auto;
    color: #fdf5e6;
    padding: 1em;
}



/************  Footer   *************/

footer {
    width: 100%;
    background-color: red;
    height: 10em;
}


/************  Colors   *************/

.bg-clr-dutch {
background-color :#efdfbb;
}

.bg-clr-navajo {
    background-color: #e6cea9;
}

.bg-clr-darkblue {
    background-color: rgb(4,47,54);
}

/************  Media Query   *************/


/*** Desktop View ***/
@media (min-width: 767px) {
    
    .overlay {
        background: url("../images/dice-bg-pic.jpg");
        position: fixed;
        background-size: cover;
        height: 100%;
        width: 100%;
        overflow-x: hidden;
        transition: all .5s;
        z-index: 5;
        text-align: center;
    }
    
    .background-image {
        background: url("../images/dice-bg-pic.jpg");
        background-attachment: scroll;
        background-size: cover;
        height: 100%;
        width: 100%;
        z-index: -4
    }
    /*
    #board {
        left: 10%;
        right: 10%;
    }
    */
    #startNav {
        background-color: rgba(4,47,54, .9);
        color: #f5f5f5;
        width: 40em;
        height: 25em;
        left: calc((100% - 40em)/2);
        margin-top: 3em;
        border-radius: 5px;
        box-shadow: 2px 3px 7px -1px rgba(4,47,54, .9);
    }
    
    .board-col {
        width: 20em;
    }
    
    .board-container {
    height: 120vh;

    }
    
    .white-scoreboard {
        background-color: #fdf5e6;
        width: 90%;
        height: 10em;
        margin: 6em .5em;
        border-radius: 3em .3em .3em 3em;
    }
    
    .black-scoreboard {
        background-color: #110c11;
        width: 90%;
        height: 10em;
        margin-top: 6em;
        margin-left: .5em;
        border-radius: .3em 3em 3em .3em;
    }
    
    #current-player {
        margin: auto;
        margin-top: 2em;
        color: #fff;
        font-size: 1.5em;
    }
    
    .menu-icon {
    display: none;
    }
}

/*** tablet View ***/
@media (max-width: 768px) {
    .menu-button-container {
        width: 0%;
        margin-left: 100%;
        top: .7em;
        text-align: center;
        transition: all .5s;
    }
    
    .menu-button {
        display: inline-block;
        float: none;
        padding: auto;
        margin-left: 2.5em;
    }
}

